<h1 class="animated fadeIn fast">Sobre Comic App</h1>
<hr>
<p class="animated fadeIn">
  Lorem ipsum dolor sit amet consectetur adipisicing elit. Enim recusandae 
  quibusdam quaerat repudiandae hic, voluptates esse deleniti saepe ex optio nulla,
  dolores alias id, adipisci harum quisquam? Fugiat, iste. Labore?.
  Lorem, ipsum dolor sit amet consectetur adipisicing elit. Maxime, eos earum. 
  Aut quasi quos porro sequi perspiciatis reprehenderit distinctio provident vitae? 
  Odit officia aperiam aliquam obcaecati quidem ex a voluptatem?
</p>
